*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;

}
#body{
display: flex;
flex-direction: column;
}
body, #body, html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.container{
    margin: 0%;
    padding: 0%;
    max-width:100%;
}

footer{
    
    background-color: black;
    overflow: hidden;
    
}

.navbar{
    font-size: 20px;
    --bs-navbar-nav-link-padding-x: 0.5rem;
    text-align: center;
    overflow-x: hidden;
    
        
}

.navbar-nav{
    --bs-nav-link-padding-y: 1.5rem;
    
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 2.9rem
}

.nav-link {
    background-color: rgba(65, 62, 62, 0.192);
    padding: 1px;
    margin: 2.5%;
    border-radius: 15rem;
}

a.nav-link{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 16rem;
}


#header{
    height:8rem;
    display: flex;
    align-items: center;
    color: aliceblue; 
    box-sizing: border-box;
    background-image: url(./assets/img/optional_banner_2.jpg);
    background-size: contain;
    overflow: hidden;
    
}

#botonh{
    
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

#der{
    position: relative;
    
    
    
}

#a1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    

}
#a1 h1{
   
    overflow: hidden;
}

#check label{
    margin-left: 1rem;
}
.pf{
   text-align: center; 
   
}


.pricecard{
    display: flex;
    flex-direction: column;
    

}

.card-title{
    overflow: hidden;
    margin-bottom: 3%;
}

#buscar{
    margin: 1%;
    
}


.link-button {
    display: inline-block;
    background-color: #007bff;
    color: black;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 0 5px; 
    text-align: center;
    border-radius: 30rem;
    font-weight: bold;
}

#footer img{
    margin-right:0.50%;
    margin-left: 1%;
    margin-top: 0.50%;
    margin-bottom: 0.50%;
    
}

#tarjetas{
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 1%;
}

#lista{
width: 30%;
margin-top: 0.50%;
margin-bottom: 0.5%;
font-size: 109%;
color: aliceblue;
font-weight: bold;
}

#contacto{
    display: flex;
    justify-content: center;
    background-image: url(./assets/img/optional_banner_5.jpg);
    background-size: cover;
    background-position-y:center;
    overflow: hidden;
    
}
.table{
    
    margin: 0%;
    
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

#tabla{
    width: 70%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    
}

#tabla2{
    display: flex;
    justify-content: center;
    height: 50px;
}

.tit{
    text-decoration: underline;
    font-size: 138%;
}
td{
    height: 2.2rem;
}

#cart{
    margin-top:2%;
    margin-bottom: 3%;
    font-size: 1.1rem;
}
#tc{
    margin-top: 1rem;
    font-size: 1.5rem;
    
}

.card img{
    width: 100%;
    height: 190px;
    object-fit: cover;
}


#detalle{
    display: flex;
    justify-content: center;
    background-image: url(./assets/img/optional_banner_4.jpg);
    background-size: contain;
    overflow : hidden;
    width: 100%;
    height: 100%;
}

#sell {
    margin-top: 2.6%;
    overflow: hidden;
    width:60%;
    
   
    
}

#sell img{
    width: 50%;
    object-fit:cover;
    height: 418.5px;
    
}
.card-text, .card-title{
    text-align: center;
}


 
#dp{
    width: 40%;
    position: absolute;
    margin-left: 55%;
}

#dp .card-text{
font-size: 19px;

}

#dp .card-title{
    font-size: 25px;
    margin-bottom: 10%;
    margin-top: 5%;
}

#nh{
    overflow: hidden;
}

.nav-link {
transition: transform 0.3s ease; 
}

.nav-link:hover {
  transform: scale(0.80);
}


.card img{
    transition: transform 0.3s ease; 
}
    
.card img:hover {
    transform: scale(1.1);
}